h1 {
  background-color: black;
  color: white;
  text-decoration: underline;
}
p,
ul, h1, h2, h4{
  font-weight: bold;
  text-align: center;

}
ul {
  border: 1px solid black;
}
img{
    width: 225px;
    height: 250px;
}